import React, { FC } from 'react';
import { Row, Typography } from 'antd';
const { Title } = Typography;


type {{titleCase sceneName}}Props = {

}


const {{titleCase sceneName}}: FC<{{titleCase sceneName}}Props> = () => (
	<>
		<Title>{{titleCase sceneName}}</Title>
		<Row gutter={[24, 24]}>

		</Row>
	</>
	);

	export default {{titleCase sceneName}};
