import React from 'react';
import {{titleCase sceneName}} from './{{titleCase sceneName}}'
type {{titleCase sceneName}}ContainerProps = {

}

const {{titleCase sceneName}}Container: React.FC<{{titleCase sceneName}}ContainerProps> = () => {
	return (
	<div>

	</div>
	);
	};

	export default {{titleCase sceneName}}Container;
